

.cardgroup {
    white-space: nowrap;
    margin: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Listitems {
    font-size: 14px;
    padding: 7px;
}

.maincard {
    height:400px;
}

.city-today {
    size: 40px;
    text-align: center;
}

.MainDay {
    text-align: center;
}